extends ../layout

block content
   .container
      each item in categoryList
         .row.no-gutters
            h3
               a(href='/results?cat=' + item._id + '&p=0') #{item.name}
         .row
            each elem in item.movie
               .col-sm-3
                  .card(style={"margin-bottom":"30px"})
                     a(href='/movie/' + elem._id)
                        if elem.poster.indexOf('http') > -1
                           img.card-img-top(src=elem.poster,alt=elem.title,height=375)
                        else
                           img.card-img-top(src='/upload/'+ elem.poster,alt=elem.title)
                     .cart-body(style={"text-align":"center","padding":"4px 0"})
                        a.card-link(href= '/movie/' + elem._id) #{elem.title}

